@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

:root {
  font-family: "Lora", serif !important;
}
/* .coursel {
  height: 65vh !important;
}

@media (min-width: 768px) {
  .coursel {
    height: 65vh !important;
  }
} */
.imageCover-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .imageCover {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
